[Unit]
Description=Animals_Sounds
Requires=nginx.service
After=nginx.service

[Service]
WorkingDirectory={{ flaskDir }}
# We have python in VIRTUAL_ENV
ExecStart=python {{ flaskDir }}/main.py
ExecStop=/bin/bash echo 'Falling'
KillMode=process
Type=idle

SyslogIdentifier=animals
SyslogFacility=daemon

User=root
Group=root

RestartSec=15
TimeoutSec=600
StartLimitBurst=2
StartLimitIntervalSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
